# Power saving profile
on property:fku.perf.profile=0

	#Little cluster
	write /sys/module/cpu_input_boost/parameters/remove_input_boost_freq_lp 300000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1516800
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 748800

	#Big cluster
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1209600
	write /sys/module/cpu_input_boost/parameters/remove_input_boost_freq_perf 825000
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 0

	#Boost paramaters
	write /sys/module/cpu_input_boost/parameters/input_boost_duration 32
	write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 0

	#Readahead
	write > /sys/block/sda/queue/read_ahead_kb 128
	write > /sys/block/sda/queue/nr_requests 128
	write > /sys/block/sdf/queue/read_ahead_kb 128
	write > /sys/block/sdf/queue/nr_requests 128
	write > /sys/block/sde/queue/read_ahead_kb 128
	write > /sys/block/sde/queue/nr_requests 128


# Balance (FK defaults)
on property:fku.perf.profile=1

	#Little cluster
	write /sys/module/cpu_input_boost/parameters/remove_input_boost_freq_lp 576000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 748800

	#Big cluster
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2323200
	write /sys/module/cpu_input_boost/parameters/remove_input_boost_freq_perf 825000
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 902000

	#Boost paramaters
	write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
	write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 0

	#Readahead
	write > /sys/block/sda/queue/read_ahead_kb 128
	write > /sys/block/sda/queue/nr_requests 128
	write > /sys/block/sdf/queue/read_ahead_kb 128
	write > /sys/block/sdf/queue/nr_requests 128
	write > /sys/block/sde/queue/read_ahead_kb 128
	write > /sys/block/sde/queue/nr_requests 128


# Performance
on property:fku.perf.profile=2

	#Little cluster
	write /sys/module/cpu_input_boost/parameters/remove_input_boost_freq_lp 576000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 825000

	#Big cluster
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200
	write /sys/module/cpu_input_boost/parameters/remove_input_boost_freq_perf 825000
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 902000

	#Boost paramaters
	write /sys/module/cpu_input_boost/parameters/input_boost_duration 80
	write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 15

	#Readahead
	write > /sys/block/sda/queue/read_ahead_kb 512
	write > /sys/block/sda/queue/nr_requests 512
	write > /sys/block/sdf/queue/read_ahead_kb 512
	write > /sys/block/sdf/queue/nr_requests 512
	write > /sys/block/sde/queue/read_ahead_kb 512
	write > /sys/block/sde/queue/nr_requests 512
